{% extends "base.html" %}
{% block title %}Responses{% endblock %}

{% block contents %}
<h1>Form Responses</h1>
<p>Total responses: {{ data|length }}</p>
<hr>

<table border="1" cellpadding="10" cellspacing="0" style="width:100%; border-collapse: collapse;">
    <thead>
        <tr style="background-color: #f2f2f2;">
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Know me?</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        {% for r in data %}
        <tr>
            <td>{{ r.id }}</td>
            <td>{{ r.name }}</td>
            <td>{{ r.email }}</td>
            <td>{{ r.age }}</td>
            <td>{{ r.gender }}</td>
            <td>{{ r.do_you }}</td>
            <td>{{ r.msg }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}